body {
    background-color: #E5DACE;
    text-align: center;
}

h1 {
    text-align: center;
    color: #6d7973;
    font-size: 40px;
}

p {
    text-align: center;
}

.anchor {
    color: red;
    justify-content: center;
    margin: auto;
    text-align: center;
}